# **1. Separando as Classes**

O objetivo desse primeiro notebook é **exclusivamente** realizar a separação dos dados que pertencem ao problema, são elas:

- Pessoas Saudáveis: São aquelas pessoas que responderam diferente de *'Sim'* para as perguntas de diagnóstico de todas as doenças e que *não são nulos*.

- Pessoas Hipertensas: São as pessoas que responderam *'Sim'* para o diagnóstico de hipertensão.

- Pessoas HiperCVD: São as pessoas que responderam *'Sim'* para o diagnóstico de hipertensão e doenças cardiovasculares.

In [2]:
# Importação das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px
import os

In [3]:
# Aplicar o estilo do Seaborn
sns.set(style="whitegrid")

In [4]:
# Leitura da base de dados
df = pd.read_csv("C://Users//Gustavo//OneDrive//Documentos//PUC//3° Periodo//Mineraçao de Dados//trabalho//dados//pns2019.csv")
df.head()

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,11,1110011,110000016,1,1,2019,6.0,1,1,1.0,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
1,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
2,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
3,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
4,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825

In [5]:
df.tail()

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
293721,53,5310220,530044434,14,1,2019,4.0,2,1,0.0,...,1.0,1.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293722,53,5310220,530044434,14,1,2019,4.0,2,1,1.0,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293723,53,5310220,530044434,14,1,2019,4.0,2,1,0.0,...,1.0,7.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293724,53,5310220,530044434,14,1,2019,4.0,2,1,9.0,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293725,53,5310220,530044434,15,8,2019,NaN,2,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20210825

In [6]:
df.shape

(293726, 1087)

PNS 2019:

- 293.726 registros.
- 1.087 atributos.

## ÁREA DE TESTE

In [7]:
#Pressão Alta
df.loc[(df["Q003"] == df["C008"]) & (df["Q00201"] == 1)]

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
746,11,1110011,110007735,4,1,2019,3.0,1,1,1.0,...,2.0,NaN,998.0,333.0,2.0,NaN,NaN,NaN,NaN,20210825
796,11,1110011,110008539,7,1,2019,2.0,1,1,1.0,...,2.0,NaN,2500.0,1250.0,4.0,NaN,NaN,NaN,NaN,20210825
844,11,1110011,110008644,10,1,2019,2.0,1,1,1.0,...,2.0,NaN,1100.0,550.0,3.0,NaN,NaN,NaN,NaN,20210825
1756,11,1110011,110018159,1,1,2019,2.0,1,1,1.0,...,NaN,NaN,2200.0,1100.0,4.0,NaN,NaN,NaN,NaN,20210825
2341,11,1110012,110003785,5,1,2019,3.0,1,1,1.0,...,NaN,NaN,7800.0,2600.0,5.0,NaN,NaN,NaN,NaN,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292431,53,5310212,530032771,10,1,2019,1.0,1,1,1.0,...,1.0,6.0,500.0,500.0,3.0,NaN,4.0,NaN,NaN,20210825
293048,53,5310213,530016054,8,1,2019,4.0,1,1,1.0,...,1.0,6.0,2590.0,648.0,3.0,NaN,4.0,NaN,6.0,20210825
293066,53,5310213,530022533,1,1,2019,3.0,1,1,1.0,...,1.0,7.0,5016.0,1672.0,4.0,NaN,2.0,NaN,NaN,20210825
293088,53,5310213,530022533,13,1,2019,5.0,1,1,1.0,...,1.0,7.0,4700.0,940.0,3.0,NaN,4.0,NaN,5.0,20210825
293499,53,5310220,530028975,9,1,2019,1.0,2,1,1.0,...,NaN,NaN,7000.0,7000.0,7.0,NaN,NaN,NaN,NaN,20210825

In [6]:
# Doenças Cardiovasculares e Pressão Alta
df.loc[(df["Q003"] == df["C008"]) & (df["Q00201"] == 1) & (df["Q06306"] == 1)]

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
2341,11,1110012,110003785,5,1,2019,3.0,1,1,1.0,...,NaN,NaN,7800.0,2600.0,5.0,NaN,NaN,NaN,NaN,20210825
3063,11,1110012,110015230,12,1,2019,2.0,1,1,1.0,...,1.0,4.0,3000.0,1500.0,4.0,NaN,4.0,NaN,NaN,20210825
12594,12,1250010,120007498,4,1,2019,1.0,1,4,1.0,...,NaN,NaN,2998.0,2998.0,6.0,NaN,NaN,NaN,NaN,20210825
18748,13,1310211,130047838,6,1,2019,3.0,1,1,1.0,...,NaN,NaN,1128.0,376.0,2.0,NaN,NaN,NaN,NaN,20210825
19102,13,1310212,130014465,3,1,2019,2.0,1,1,1.0,...,NaN,NaN,997.0,499.0,2.0,NaN,NaN,NaN,NaN,20210825
61875,17,1751012,170031013,15,1,2019,2.0,1,4,1.0,...,1.0,2.0,2360.0,1180.0,4.0,NaN,1.0,NaN,NaN,20210825
63507,17,1752011,170027923,2,1,2019,3.0,1,4,1.0,...,NaN,NaN,1996.0,665.0,3.0,NaN,NaN,NaN,NaN,20210825
73284,21,2152011,210077990,11,1,2019,1.0,1,4,1.0,...,NaN,NaN,1996.0,1996.0,4.0,NaN,NaN,NaN,NaN,20210825
79621,21,2154011,210051141,10,1,2019,5.0,1,4,1.0,...,1.0,4.0,5000.0,1000.0,4.0,NaN,1.0,NaN,NaN,20210825
92183,23,2310111,230090130,2,1,2019,5.0,1,1,1.0,...,NaN,NaN,5496.0,1099.0,4.0,NaN,NaN,NaN,NaN,20210825
92809,23,2310112,230126291,1,1,2019,1.0,1,1,1.0,...,1.0,6.0,1200.0,1200.0,4.0,NaN,2.0,NaN,5.0,20210825
96398,23,2320011,230089820,10,1,2019,1.0,1,2,1.0,...,NaN,NaN,998.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
116609,24,2453020,240008084,6,1,2019,3.0,2,4,1.0,...,NaN,NaN,3196.0,1065.0,4.0,NaN,NaN,NaN,NaN,20210825
116636,24,2453020,240012263,1,1,2019,5.0,2,4,1.0,...,NaN,NaN,1138.0,228.0,1.0,NaN,NaN,NaN,NaN,20210825
123360,25,2552011,250071651,15,1,2019,4.0,1,4,1.0,...,1.0,5.0,998.0,250.0,1.0,NaN,1.0,NaN,NaN,20210825
129210,26,2610012,260029939,12,1,2019,2.0,1,1,1.0,...,NaN,NaN,1996.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
133439,26,2651011,260117805,7,1,2019,2.0,1,4,1.0,...,1.0,9.0,2500.0,1250.0,4.0,NaN,3.0,NaN,5.0,20210825
143497,27,2710113,270004256,3,1,2019,2.0,1,1,1.0,...,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,20210825
144088,27,2710113,270050187,5,1,2019,7.0,1,1,1.0,...,2.0,NaN,294.0,42.0,1.0,NaN,NaN,NaN,NaN,20210825
154155,28,2820020,280014040,3,1,2019,1.0,2,2,1.0,...,1.0,1.0,1384.0,1384.0,4.0,NaN,4.0,NaN,NaN,20210825
161896,29,2920011,290094773,5,1,2019,2.0,1,2,1.0,...,2.0,NaN,1996.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
165171,29,2952021,290245180,12,1,2019,1.0,2,4,1.0,...,NaN,NaN,1000.0,1000.0,4.0,NaN,NaN,NaN,NaN,20210825
166742,29,2954021,290040771,1,1,2019,2.0,2,4,1.0,...,NaN,NaN,1598.0,799.0,3.0,NaN,NaN,NaN,NaN,20210825
170552,31,3110112,310142380,7,1,2019,2.0,1,1,1.0,...,1.0,11.0,998.0,499.0,2.0,NaN,4.0,NaN,NaN,20210825
174792,31,3120012,310094042,9,1,2019,2.0,1,2,1.0,...,NaN,NaN,1996.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
176863,31,3130012,310293559,11,1,2019,2.0,1,4,1.0,...,1.0,2.0,5000.0,2500.0,5.0,NaN,2.0,NaN,NaN,20210825
181427,31,3154011,310363045,1,1,2019,4.0,1,4,1.0,...,NaN,NaN,914.0,229.0,1.0,NaN,NaN,NaN,1.0,20210825
182949,31,3155013,310159944,2,1,2019,3.0,1,4,1.0,...,1.0,7.0,5500.0,1833.0,4.0,NaN,1.0,NaN,NaN,20210825
183063,31,3155021,310026430,9,1,2019,2.0,2,4,1.0,...,NaN,NaN,1996.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
190073,32,3220012,320032210,13,1,2019,2.0,1,2,1.0,...,1.0,11.0,2500.0,1250.0,4.0,NaN,4.0,NaN,5.0,20210825
194121,32,3252020,320016554,9,1,2019,2.0,2,4,1.0,...,1.0,1.0,2998.0,1499.0,4.0,NaN,1.0,NaN,NaN,20210825
199556,33,3310311,330129653,10,1,2019,4.0,1,1,1.0,...,1.0,6.0,3600.0,900.0,3.0,NaN,3.0,NaN,NaN,20210825
201722,33,3321012,330046177,4,1,2019,2.0,1,2,1.0,...,NaN,NaN,1996.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
202075,33,3321012,330296554,11,1,2019,1.0,1,2,1.0,...,NaN,NaN,1000.0,1000.0,4.0,NaN,NaN,2.0,NaN,20210825
203275,33,3322011,330218413,6,1,2019,3.0,1,2,1.0,...,1.0,3.0,14600.0,4867.0,6.0,NaN,NaN,NaN,NaN,20210825
208875,33,3353013,330154794,4,1,2019,2.0,1,4,1.0,...,NaN,NaN,1996.0,998.0,3.0,NaN,NaN,NaN,NaN,20210825
210812,35,3510111,350333907,4,1,2019,4.0,1,1,1.0,...,1.0,11.0,600.0,150.0,1.0,NaN,NaN,NaN,NaN,20210825
227273,35,3554021,350280891,6,1,2019,2.0,2,4,1.0,...,1.0,1.0,1557.0,779.0,3.0,NaN,1.0,NaN,NaN,20210825
228333,35,3555013,350134232,10,1,2019,4.0,1,4,1.0,...,NaN,NaN,6598.0,1650.0,4.0,NaN,NaN,NaN,NaN,20210825
238759,41,4155021,410060221,12,1,2019,3.0,2,4,1.0,...,1.0,2.0,2600.0,867.0,3.0,NaN,3.0,NaN,NaN,20210825
240342,42,4210011,420008753,11,1,2019,4.0,1,1,1.0,...,NaN,NaN,2700.0,675.0,3.0,NaN,NaN,NaN,NaN,20210825
242189,42,4210012,420063888,10,1,2019,1.0,1,1,1.0,...,1.0,6.0,1800.0,1800.0,4.0,NaN,4.0,NaN,6.0,20210825
242242,42,4210012,420078630,12,1,2019,3.0,1,1,1.0,...,1.0,3.0,4400.0,1467.0,4.0,NaN,4.0,1.0,NaN,20210825
246020,42,4252012,420107081,9,1,2019,4.0,1,4,1.0,...,1.0,2.0,4700.0,1175.0,4.0,NaN,1.0,NaN,NaN,20210825
255547,43,4321012,430138596,4,1,2019,2.0,1,2,1.0,...,NaN,NaN,3500.0,1750.0,4.0,NaN,NaN,1.0,NaN,20210825
257539,43,4352021,430007277,2,1,2019,3.0,2,4,1.0,...,NaN,NaN,2118.0,706.0,3.0,NaN,NaN,NaN,1.0,20210825
260106,43,4355011,430023978,8,1,2019,1.0,1,4,1.0,...,NaN,NaN,1996.0,1996.0,4.0,NaN,NaN,NaN,NaN,20210825
260189,43,4355011,430051702,2,1,2019,2.0,1,4,1.0,...,NaN,NaN,1100.0,550.0,3.0,NaN,NaN,NaN,NaN,20210825
263362,50,5010011,500050720,6,1,2019,2.0,1,1,1.0,...,NaN,NaN,5000.0,2500.0,5.0,NaN,NaN,NaN,NaN,20210825
263884,50,5010012,500016100,6,1,2019,2.0,1,1,1.0,...,1.0,6.0,1448.0,724.0,3.0,NaN,1.0,NaN,NaN,20210825
278503,52,5210011,520039158,9,1,2019,3.0,1,1,1.0,...,1.0,9.0,7000.0,2333.0,5.0,NaN,2.0,NaN,NaN,20210825
278649,52,5210011,520042702,5,1,2019,5.0,1,1,1.0,...,2.0,NaN,6000.0,1200.0,4.0,NaN,NaN,NaN,NaN,20210825
286055,52,5253022,520063100,6,1,2019,2.0,2,4,1.0,...,NaN,NaN,2116.0,1058.0,4.0,NaN,NaN,2.0,NaN,20210825
287018,53,5310111,530024062,12,1,2019,4.0,1,1,1.0,...,1.0,8.0,8400.0,2100.0,5.0,NaN,2.0,NaN,NaN,20210825
288610,53,5310112,530037817,15,1,2019,4.0,1,1,1.0,...,NaN,NaN,7500.0,1875.0,4.0,NaN,NaN,NaN,NaN,20210825
289302,53,5310113,530022880,11,1,2019,3.0,1,1,1.0,...,1.0,8.0,29500.0,9833.0,7.0,NaN,1.0,NaN,5.0,20210825
291589,53,5310211,530051067,1,1,2019,4.0,1,1,1.0,...,1.0,11.0,4000.0,1000.0,4.0,NaN,NaN,NaN,6.0,20210825

In [10]:
comorbidades = [
    'Q03001', #diabetes
    'Q060',  #colesterol alto
    'Q068',  #avc
    'Q074',  #asma
    'Q079',  #artrite
    'Q088',  #dort
    'Q092',  #depressao
    'Q11006', #doencas mentais
    'Q11604', #doenca cronica pulmonar
    'Q120',  #cancer
    'Q124',  #insuficiencia renal
    'K047',  #catarata
    'Q00201', #pressao alta
    'Q06306' # doenças cardiovasculares
]

In [8]:
df.loc[(df["Q00201"] == 2) & (df["Q06306"] == 2)]

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
9,11,1110011,110000016,2,1,2019,4.0,1,1,1.0,...,1.0,6.0,1000.0,250.0,2.0,NaN,NaN,NaN,NaN,20210825
10,11,1110011,110000016,3,1,2019,8.0,1,1,1.0,...,1.0,9.0,4000.0,500.0,3.0,NaN,4.0,NaN,1.0,20210825
18,11,1110011,110000016,4,1,2019,1.0,1,1,1.0,...,1.0,7.0,324.0,324.0,2.0,NaN,1.0,NaN,NaN,20210825
19,11,1110011,110000016,5,1,2019,2.0,1,1,1.0,...,NaN,NaN,0.0,0.0,1.0,NaN,NaN,NaN,NaN,20210825
22,11,1110011,110000016,7,1,2019,3.0,1,1,1.0,...,1.0,7.0,2998.0,999.0,4.0,NaN,3.0,NaN,NaN,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293709,53,5310220,530044434,9,1,2019,3.0,2,1,1.0,...,1.0,7.0,5400.0,1800.0,4.0,NaN,3.0,1.0,NaN,20210825
293712,53,5310220,530044434,10,1,2019,2.0,2,1,1.0,...,1.0,7.0,3000.0,1500.0,4.0,NaN,3.0,1.0,NaN,20210825
293713,53,5310220,530044434,11,1,2019,4.0,2,1,1.0,...,NaN,NaN,1497.0,374.0,2.0,NaN,NaN,NaN,NaN,20210825
293718,53,5310220,530044434,12,1,2019,3.0,2,1,1.0,...,1.0,2.0,6050.0,2017.0,5.0,NaN,NaN,NaN,NaN,20210825
293720,53,5310220,530044434,13,1,2019,1.0,2,1,1.0,...,1.0,1.0,1500.0,1500.0,4.0,NaN,1.0,NaN,NaN,20210825

In [14]:
df_temp.shape

(316, 1087)

In [12]:
df_temp.shape

(293726, 14)

In [11]:
df_saudaveis.shape

(316, 1087)

In [24]:
# Função que classifica o tipo com base nas condições de pressão alta, doenças CVD e outras condições.
def determinar_tipo(row):
    # Verifica se todas as colunas relevantes estão iguais a 2
    todas_igual_2 = all(row[col] == 2 for col in [
        'Q03001',  # DIABETES
        'Q060',    # COLESTEROL ALTO
        'Q068',    # AVC
        'Q074',    # ASMA
        'Q079',    # ARTRITE
        'Q088',    # DORT
        'Q092',    # DEPRESSÃO
        'Q11006',  # DOENÇAS MENTAIS
        'Q11604',  # DOENÇAS CRÔNICAS
        'Q120',    # CÂNCER
        'Q124',    # INSUFICIÊNCIA RENAL
        'K045',    # CATARATA
        'Q06306',   # DOENÇAS CARDIOVASCULARES
        'Q00201'
    ])
    
    if row['Q00201'] == 1 and row['Q06306'] ==  1 and row["Q003"] == row["C008"]:
        return 1  # Tipo 1: Pressão Alta e Doenças CVD = 1.
    elif row['Q00201'] == 1 and row['Q06306'] == 2 and row["Q003"] == row["C008"]:
        return 2  # Tipo 2: Apenas Pressão Alta = 1.
    elif row['Q00201'] == 2 and row['Q06306'] == 2 and todas_igual_2:
        return 3  # Tipo 3: Pessoas sem diagnóstico.
    else:
        return None  # Nenhuma das condições especificadas

# Aplica a função para cada linha do DataFrame e cria a nova coluna 'Tipo'
df['Classe'] = df.apply(determinar_tipo, axis=1)

In [26]:
df.Classe.value_counts()

Classe
3.0    2997
2.0    1012
1.0      57
Name: count, dtype: int64

In [28]:
df.Classe.isna().sum()

289660

In [15]:
index_removidos = df[df['Tipo'].isna()].index

In [16]:
df.drop(index_removidos, inplace=True)

In [17]:
df.shape

(26848, 1088)

## **1.1. Filtrando o conjunto de dados pela idade**

Foi **definido** que a idade será de pessoas que possuem pelo menos 30 anos.

In [23]:
# Separação do conjunto de dados com pessoas com mais de 30 anos.
df = df.loc[df["C008"] >= 30]

In [24]:
df.shape

(157835, 1087)

Há 157.835 instâncias de pessoas que possuem no mínimo 30 anos.

## **1.2. Conjunto 1: Pessoas Saudáveis**

Por definição, as pessoas saudáveis serão todas aquelas que responderam diferente de Sim para os diagnósticos e que não tenham como resposta nulo.

In [25]:
def salvar_conjunto(dataframe):
    diretorio = "../dados"

    if not os.path.exists(diretorio):
        os.makedirs(diretorio)

    #Pergunta ao usuário do código o nome do arquivo a ser salvo.
    nome = input("Digite o nome do arquivo a ser salvo: ")
    nome += ".csv"

    caminho_arquivo = os.path.join(diretorio, nome)
    
    #Salvar o DataFrame em .csv
    dataframe.to_csv(caminho_arquivo, index=False)

    print(f"Arquivo salvo em: {caminho_arquivo}")

In [26]:
# Encontrando o total de pessoas SAUDÁVEIS, isto é, sem NENHUMA comorbidade.
df_saudaveis = df.loc[
    (df['Q03001'] != 1) & #diabetes
    (df['Q060'] != 1)   & #colesterol alto
    (df['Q068'] != 1)   & #avc
    (df['Q074'] != 1)   & #asma
    (df['Q079'] != 1)   & #artrite
    (df['Q088'] != 1)   & #dort
    (df['Q092'] != 1)   & #depressao
    (df['Q11006'] != 1) & #doencas mentais
    (df['Q11604'] != 1) & #doenca cronica pulmonar
    (df['Q120'] != 1)   & #cancer
    (df['Q124'] != 1)   & #insuficiencia renal
    (df['K047'] != 1)   & #catarata
    (df['Q00201'] != 1) & #pressao alta
    (df['Q06306'] != 1)   # doenças cardiovasculares
]

In [27]:
df_saudaveis.shape

(112551, 1087)

In [28]:
df_saudaveis.isnull().sum()

V0001             0
V0024             0
UPA_PNS           0
V0006_PNS         0
V0015             0
              ...
VDL001       112551
VDM001        92459
VDP001       109262
VDR001       105871
VDDATA            0
Length: 1087, dtype: int64

Há  112.551 pessoas consideradas como saudáveis.

In [29]:
salvar_conjunto(df_saudaveis)

Digite o nome do arquivo a ser salvo:  df_saudaveis

Arquivo salvo em: ../dados\df_saudaveis.csv

## **1.3. Conjunto 2: Pessoas Hipertensas**

In [30]:
# Encontrando o total de pessoas que possuem hipertensão.
df_hipertensao = df.loc[
    (df['Q00201'] == 1) & #pressao alta
    (df['Q06306'] == 2)
]

In [31]:
df_hipertensao.shape

(20123, 1087)

Há 20.123 pessoas hipertensas que **não possuem doenças cardiovasculares.**

In [32]:
salvar_conjunto(df_hipertensao)

Digite o nome do arquivo a ser salvo:  df_hipertensao

Arquivo salvo em: ../dados\df_hipertensao.csv

## **1.4. Conjunto 3: Pessoas HiperCVD**

In [33]:
# Encontrando o total de pessoas que possuem hipertensão e alguma doença cardiovascular.
df_hiperCVD = df.loc[
    (df['Q00201'] == 1) & #pressao alta
    (df['Q06306'] == 1) # doenças cardiovasculares
]

In [34]:
df_hiperCVD.shape

(2984, 1087)

Há 2.984 pessoas com hipertensão e doenças cardiovasculares (cvd).

In [35]:
salvar_conjunto(df_hiperCVD)

Digite o nome do arquivo a ser salvo:  df_hipercvd

Arquivo salvo em: ../dados\df_hipercvd.csv